
/*  ------------     MOBILE  ------------ */



/* Index */
@media screen and (max-width:720px){
    .index-body{
        .header-index{
            .header__titulo-principal h1 {
                font-size: 100px;  
            }

            .nav-container-index{
                .nav__list-index{
                    .nav__list-item-index{
                        a{
                            margin-right: 30px;
                            font-size: 20px;
                        }
                    }
                }
                .carrito-index{
                    a{
                        margin-right: 30px;
                        font-size: 20px;
                    }
                }
                .iniciar-sesion-index{
                    a{
                        margin-right: 30px;
                        font-size: 20px;
                    }
                }
            }
        }        
    }
    
    

    .footer-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 14px;
        place-items: center;   
    }       
}


@media screen and (max-width:610px){
    .index-body{
        .header-index{
            .header__titulo-principal h1 {
                font-size: 80px;  
            }

            .nav-container-index{
                .nav__list-index{
                    .nav__list-item-index{
                        a{
                            margin-right: 20px;
                            font-size: 18px;
                            color: #ddd;
                        }
                    }
                }
                .carrito-index{
                    a{
                        margin-right: 20px;
                        font-size: 18px;
                        color: #ddd
                    }
                }
                .iniciar-sesion-index{
                    a{
                        margin-right: 20px;
                        font-size: 18px;
                        color: #ddd
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:517px){
    .index-body{
        .header-index{
            .header__titulo-principal h1 {
                font-size: 50px;  
            }

            .nav-container-index{
                .nav__list-index{
                    .nav__list-item-index{
                        a{
                            margin-right: 10px;
                            font-size: 15px;
                            color: #ddd;
                        }
                    }
                }
                .carrito-index{
                    a{
                        margin-right: 10px;
                        font-size: 15px;
                        color: #ddd
                    }
                }
                .iniciar-sesion-index{
                    a{
                        margin-right: 10px;
                        font-size: 15px;
                        color: #ddd
                    }
                }
            }
        }        
    }

    .footer-container{
        display: grid;
        grid-template-columns: 1fr;
        font-size: 14px;
        place-items: center;            
    }       
}

@media screen and (max-width:400px){
    .index-body{
        .header-index{

            .nav-container-index{
                .nav__list-index{
                    .nav__list-item-index{
                        a{
                            font-size: 14px;
                        }
                    }
                }
                .carrito-index{
                    a{
                        font-size: 14px;

                    }
                }
                .iniciar-sesion-index{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }        
    }
}

@media screen and (max-width:380px){
    .index-body{
        .header-index{

            .nav-container-index{
                .nav__list-index{
                    .nav__list-item-index{
                        a{
                            font-size: 11px;
                            margin-right: 5px;
                            position: relative;
                            left: -10px;
                        }
                    }
                }
                .carrito-index{
                    a{
                        font-size: 11px;
                        margin-right: 5px;
                        position: relative;
                        left: -10px;

                    }
                }
                .iniciar-sesion-index{
                    a{
                        font-size: 11px;
                        position: relative;
                        left: -10px;
                    }
                }
            }
        }        
    }
}




/* Productos */


@media screen and (max-width:1200px){
    .productos-main-container .productos-center-alignment .productos-item-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;

        .productos-main-container .photo-slider .carousel{
            height: 30em;
        }
    }

}

@media screen and (max-width:900px){

    .productos-main-container .photo-slider .carousel{
        height: 25em;
    }

    .productos-main-container .productos-center-alignment .productos-item-grid .productos-item{
        height: 380px;
        width: 250px;

        img{
            width: 250px;
        }
    }
     
    .eleccion-tipo-de-producto{
        font-size: 15px;
        margin-right: 35px;

        .aside-h3{font-size: 25px;}
    }
        

    .footer-container-productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
}

@media screen and (max-width:720px){
    .productos-main-container .photo-slider .carousel{
        height: 25em;
    }

    .productos-main-container .productos-center-alignment .productos-item-grid .productos-item{
        height: 360px;
        width: 220px;

        img{
            width: 220px;
        }
    }
}

@media screen and (max-width:650px){
    .header{
         position: fixed;       
        .nav-container{
            display: none;
        }

        .navbar{
            display: inline-block;
            margin-top: 0px;
            margin-right:25px ;
    
            .container-fluid{
                .navbar-brand{
                    margin-left: 15px;
                    img{
                        height: 3.1em;
                    }            
                }
            }   
        }  
    }


  .productos-container{
    

    .productos-center-alignment{
        
        display: flex;
        flex-direction: column;

        .eleccion-tipo-de-producto{
            width: 100%;
            display: flex;
            font-size: 15px;
            margin-right: 25px;

            .aside-h3{font-size: 30px;}
            .aside-options{
            display: flex;
            justify-content: space-around;
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;    
            }
        }
        
        .productos-item-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .productos-item{
                height: 340px;
                width: 220px;
                font-size: 13px;

                img{
                    width: 220px;
                }
            }
            
        }
    }

}
    
    

    .footer-container-productos{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        font-size: 13px;
        text-align: center;
    }
}



@media screen and (max-width:480px){

    .productos-container{
        .productos-center-alignment{

            .productos-item-grid{
                grid-template-columns: 1fr;
        
            }
        
        }
    }
    
}


/* INICIAR SESION */

@media screen and (max-width:900px){
    .iniciar-sesion-main-container{
        .iniciar-sesion-center-div{

            .iniciar-sesion-form-container{
                .iniciar-sesion-form{
    
                    padding-left: 0;
                    padding-right: 0;
                    .mb-3{
                        .form-control{
                            width: 80%;
                        }
                    }
                }
    
            }
        }        
    }
}

@media screen and (max-width:650px){
    .iniciar-sesion-main-container{
        .iniciar-sesion-center-div{

            .iniciar-sesion-form-container{
                .iniciar-sesion-form{
                    h2{
                        font-size: 25px;
                    }
                }
    
            }
        }        
    }
}

@media screen and (max-width:650px){
    .iniciar-sesion-main-container{
        .iniciar-sesion-center-div{
            flex-direction: column-reverse;

            .iniciar-sesion-image{
                width: 90%;
            }

            .iniciar-sesion-form-container{
                width: 90%;

                .iniciar-sesion-form{
                    h2{font-size: 30px;}

                    .mb-3{
                        .form-control{width: 70%;}
                    }
                }
            }
        }
    }
}



/* CONTACTO */

@media screen and (max-width:650px){
    .contacto-main-container{
        .contacto-form-container{margin-top:100px ;}
    } 
}

@media screen and (max-width:500px){
    .contacto-main-container{
        .contacto-form-container{

            h2{font-size: 35px;}

            .contacto-form{
                .mb-3{

                    .form-control{height: 2em;font-size: 14px;}
                    .form-label{font-size: 14px; margin-left:15% ;}
                    .text-area{height: 10em;}
                }
            }
        }
    } 
    
     
}

@media screen and (max-width:320px){
    .contacto-main-container{
        .contacto-form-container{

            .contacto-form{
                .mb-3{
                    .form-label{font-size: 12px;}
                }
            }
        }
    } 
    
     
}




/* CARRITO */

@media screen and (max-width:1000px){
    .carrito-main-container .carrito-section .carrito__producto-agregado .carrito__producto-agregado .carrito__cantidad-y-precio-container .carrito__producto-cantidad{
        margin-right: 0;
    }

    .carrito-main-container .carrito-section .carrito__producto-agregado{


        .carrito__cantidad-y-precio-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            select{position: relative;left: 20px;}
        }
    }
}

@media screen and (max-width:900px){
    .carrito-main-container .carrito-section .carrito__producto-agregado{
        font-size: 14px;
        display: flex;
        justify-content: center;

        .carrito__cantidad-y-precio-container{

            select{position: relative;left: 20px;}
        }
    }

}

@media screen and (max-width:700px){
    .carrito-main-container .carrito-section .carrito__producto-agregado{
        font-size: 13px;
        display: flex;
        justify-content: center;
    }

    .carrito-main-container .carrito-section .carrito__producto-agregado div .carrito__producto-agregado-imagen{
        width: 10em;
    }

    .carrito-main-container .carrito-section .carrito__producto-agregado  .carrito__cantidad-y-precio-container{

        select{position: relative;left: 20px;}
    }
    
    
    .carrito-main-container .carrito-section  .carrito__producto-agregado .carrito__cantidad-y-precio-container .carrito__producto-cantidad{
        margin-left: 10px;
    }
}
@media screen and (max-width:550px){
    .carrito-main-container .carrito-section .carrito-section .carrito__producto-agregado{

        div .carrito__producto-agregado-imagen{
            width: 8em;
        }
    }
}

@media screen and (max-width:450px){
    .carrito-main-container .carrito-section .carrito__producto-agregado{
        display: flex;
        flex-direction: column;
        height: 18rem;   
        text-align: center;
        padding: 10px;

        div .carrito__producto-agregado-imagen{
            width: 10em;
            
        }
    }
}    
