/* NAV GENERAL */
.header .navbar{display: none;}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5em;
    width: 100%;
    background-color: $colorPrincipal;
    z-index: 50;
    margin-bottom: 20px;

    .nav-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1200px;
        font-size: 15px;

        .logo{
            
            img{
                height: 5.5em;
                width: 140px;
            }
        }
        
        .nav__list{
            display: flex;
            list-style: none;

            .nav__list-item{

                a{
                    text-decoration: none;
                    color: $colorSecundario;
                    margin-right: 20px;
                    font-size: 19px;
                    position: relative;
                    top: 12px;

                    &:hover{
                        color: $colorSecundario;
                    }
                }
                &:last-child{margin-right: 0px;}
            }

        }

        .nav__right-section{
            display: flex;
            align-items: center;
            justify-content: center;

            .iniciar-sesion {

                a{
                    text-decoration: underline;
                    color: $colorSecundario;
                    font-size: 20px;
                    margin-right: 50px;
                }
            }
            
            .carrito-image{
                align-self: center;
                margin-right: 20px;
                color: $colorSecundario;    
            }
        }
    }

}

