@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


$fuentePrincipal: "Varela Round", sans-serif;

$colorPrincipal: #000;

$colorSecundario : #fff;


$fontSizes: (
    titles: 40px,
    titlesMobile:30px,
    navItems: 20px,
    footerTitles: 27px,
    items: 15px,
);