
/* ----- INDEX/INICIO SECTION ----- */
.index-body{

    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.4)),
    url(../imagenes/index-background.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    
    /* NAV-INDEX */
    
    .header-index{
        min-height: 99vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;


        .header__titulo-principal{
            text-align: center;


                h1{
                    font-size: 120px;
                    margin-bottom: 60px;
                    color: #fff;
            
                    animation: saltarH1 1s 1;    
                    transform: translateY(0);
                    transition: 2s;
                
                    @keyframes saltarH1{
                        from{
                            transform: translateY(-400px);
                        }
                    }
                }
            
            
        }
    

        .nav-container-index{
            display: flex;
            justify-content: center;
        
            animation: saltar 1s 1;    
            transform: translateX(0);
            transition: 2s;

            .nav__list-index{
                display: flex;
                list-style: none;

                .nav__list-item-index {

                    a{
                        text-decoration: none;
                        color: $colorPrincipal;
                        margin-right: 40px;
                        font-size: 22px;

                        &:hover{
                            color: $colorSecundario;
                            transition: .7s;
                        }
                    }

                }
                
            }     
        }
        @keyframes saltar{
            from{
                transform: translateX(-500px);
            }
        }        

        .carrito-index, .iniciar-sesion-index {

            a{
                text-decoration: none;
                color: $colorPrincipal;
                margin-right: 40px;
                font-size: 22px;

                &:hover{
                    color: $colorSecundario;
            transition: .7s
                }
            }
        
        }
    }    
}
    
    

    
    
    
    



